################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudioEngine/.vs/AudioEngine/v17
/.vs
/AudioEngine/x64/Debug
/AudioEngine/Debug
/AudioEngine/.vs
/GameEngine/Debug
/GameEngine/x64/Debug
/GameEngine/.vs
